*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
custom-packages/
/.mc-lists.e
anaconda-mode/
.mc-lists.el
/network-security.data
/image-dired/
.emacs.desktop
.emacs.desktop.lock
emojis/
/irony/*
/personal/personal-system-setting.el
network-security.data
/lisp/
org-gcal/
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
transient/
